<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      (function(l) {
        if (l.search[1] === '/') {
          var decoded = l.search.slice(1).split('&').map(function(s) {
            return s.replace(/~and~/g, '&')
          }).join('?');
          window.history.replaceState(
            null,
            null,
            l.pathname.slice(0, -1) + decoded + l.hash
          );
        }
      }(window.location));
    </script>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <meta
      name="description"
      content="The Official CK Party Night tickets ordering system."
    />
    <meta
      name="keywords"
      content="建中舞會, 建中舞會購票, 建中舞會門票, CK Party Night, CK Party Night 2026, 建國中學, 建國中學班聯會, 建中班聯會, 建中班聯, 建班, 建舞, CK, CKHS, CKSC, 舞會門票, 高中舞會, 台北高中舞會, 校園演唱會, 校園演唱會門票, 校園演唱會購票, 校園演唱會訂票, 校園演唱會訂票系統, 校唱"
    />
    <meta name="author" content="臺北市立建國高級中學班聯會" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="建中舞會購票系統" />
    <meta
      property="og:description"
      content="Official CK Party Night tickets ordering system."
    />
    <meta property="og:url" content="https://tickets.cksc.tw/" />
    <meta
      property="og:image"
      content="https://tickets.cksc.tw/cksclogo.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="建中舞會購票系統"
    />
    <meta
      name="twitter:description"
      content="Official CK Party Night tickets ordering system."
    />
    <meta
      name="twitter:image"
      content="https://tickets.cksc.tw/cksclogo.png"
    />
    <link rel="icon" type="image/png" sizes="128x128" href="cksclogo.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="cksclogo.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="cksclogo.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="cksclogo.png" />
    <link rel="icon" type="image/png" href="cksclogo.png" />
    <title>建中舞會購票系統</title>
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>